<div class="mt-[80px] flex items-center justify-center">
    <div class="bg-red-200 flex flex-col w-[250px] h-[400px]">
        <img class="object-cover"
            src="https://www.peets.com/cdn/shop/products/iced-matcha-green-tea-latte.png?v=1597269392" alt="">
        <p></p>
        <div class="tooltip">
            <span class="tooltipText">Name sadddddddddddds dsad asdasd asdas as</span>
            <span class="truncate w-[250px] inline-block">Name sadddddddddddds dsad asdasd asdas as</span>
        </div>
        <div class="tooltip">
            <span class="tooltipText">Price sadddddddddddds dsad asdasd asdas as</span>
            <span class="truncate w-[250px] inline-block">Price sadddddddddddds dsad asdasd asdas as</span>
        </div>
        <div class="tooltip">
            <span class="tooltipText">Description sadddddddddddds dsad asdasd asdas as</span>
            <span class="truncate w-[250px] inline-block">Description sadddddddddddds dsad asdasd asdas as</span>
        </div>
    </div>
</div>