<main class="mt-[80px]">
    <div class="flex flex-col sm:flex-row justify-center items-stretch px-6 pt-6 font-sans">
        <div class="flex-1">
            <img src="assets/images/banner_1.jpg" alt="Banner-1" loading="lazy" class="object-cover">
        </div>
        <div class="flex-1 flex flex-col items-center justify-center text-center bg-green-700 text-white font-semibold">
            <h3 class="text-sm md:text-xl lg:text-5xl my-5">Yays for fall days</h3>
            <span class="text-sm md:text-base lg:text-2xl lg:px-36">Join for September offers like Triple Star Tuesdays
                and Starbucks Run Saturdays (2 drinks for $10 or 4
                for $20)*.
            </span>
            <button
                class="text-sm md:text-base lg:text-2xl p-2 border rounded-lg m-2 hover:bg-green-800 transition duration-300 ease-linear">Join
                TA Coffee</button>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row-reverse justify-center items-stretch px-6 pt-6 font-serif">
        <div class="flex-1 flex flex-row">
            <img src="assets/images/banner_2.jpg" alt="Banner-2" loading="lazy" class="object-cover">
        </div>
        <div class="flex-1 flex flex-col items-center justify-center text-center bg-blue-500 text-white font-semibold">
            <h3 class="text-sm md:text-xl lg:text-5xl my-5">Find your fall</h3>
            <span class="text-sm md:text-base lg:text-2xl lg:px-36">Embrace fall in full flavor with a Pumpkin Spice
                Latte, Apple Crisp Oatmilk Macchiato or Chai Latte.
            </span>
            <button
                class="text-sm md:text-base lg:text-2xl p-2 border rounded-lg m-2 hover:bg-blue-600 transition duration-300 ease-linear">
                Order now</button>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row justify-center items-stretch px-6 pt-6 font-mono">
        <div class="flex-1">
            <img src="assets/images/banner_3.jpg" alt="Banner-1" loading="lazy" class="object-cover">
        </div>
        <div class="flex-1 flex flex-col items-center justify-center text-center bg-gray-500 text-white font-semibold">
            <h3 class="text-sm md:text-xl lg:text-5xl my-5">Your treat awaits</h3>
            <span class="text-sm md:text-base lg:text-2xl lg:px-36">Fall in love with TA® Rewards member perks,
                like a free drink with qualifying purchase during your first week. Valid for one-time use.**
            </span>
            <button
                class="text-sm md:text-base lg:text-2xl p-2 border rounded-lg m-2 hover:bg-gray-600 transition duration-300 ease-linear">Join
                now</button>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row-reverse justify-center items-stretch px-6 pt-6 font-sans">
        <div class="flex-1 flex flex-row">
            <img src="assets/images/banner_4.jpg" alt="Banner-2" loading="lazy" class="object-cover">
        </div>
        <div class="flex-1 flex flex-col items-center justify-center text-center bg-amber-800 text-white font-semibold">
            <h3 class="text-sm md:text-xl lg:text-5xl my-5">Rev up your routine</h3>
            <span class="text-sm md:text-base lg:text-2xl lg:px-36">Recharge with a refreshing Brown Sugar Oatmilk
                Shaken Espresso or Hazelnut Oatmilk Shaken Espresso—under 175 calories in a grande.
            </span>
            <button
                class="text-sm md:text-base lg:text-2xl p-2 border rounded-lg m-2 hover:bg-amber-900 transition duration-300 ease-linear">
                Order now</button>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row justify-center items-stretch px-6 pt-6 font-serif">
        <div class="flex-1">
            <img src="assets/images/banner_5.jpg" alt="Banner-1" loading="lazy" class="object-cover">
        </div>
        <div
            class="flex-1 flex flex-col items-center justify-center text-center bg-orange-400 text-white font-semibold">
            <h3 class="text-sm md:text-xl lg:text-5xl my-5">Busy days call for bacon</h3>
            <span class="text-sm md:text-base lg:text-2xl lg:px-36">Tasty choices when you need them most.
            </span>
            <button
                class="text-sm md:text-base lg:text-2xl p-2 border rounded-lg m-2 hover:bg-orange-500 transition duration-300 ease-linear">Join
                now</button>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row-reverse justify-center items-stretch p-6 font-mono">
        <div class="flex-1 flex flex-row">
            <img src="assets/images/banner_6.jpg" alt="Banner-2" loading="lazy" class="object-cover">
        </div>
        <div class="flex-1 flex flex-col items-center justify-center text-center bg-sky-700 text-white font-semibold">
            <h3 class="text-sm md:text-xl lg:text-5xl my-5">Celebrating 1 day</h3>
            <span class="text-sm md:text-base lg:text-2xl lg:px-36">The extraordinary Guatemala Casi Cielo® medium-roast
                blend returns with enchanting notes of Meyer lemon and cocoa nibs. Available for a limited time.
            </span>
            <button
                class="text-sm md:text-base lg:text-2xl p-2 border rounded-lg m-2 hover:bg-sky-800 transition duration-300 ease-linear">
                Order now</button>
        </div>
    </div>
</main>